@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base { */
.theme-light {
    /* --color-text-base */
    --color-base: theme("colors.white");
    --color-base-sub: theme("colors.gray.300");
    --color-text-base: theme("colors.black");
    --color-sub-text-base: theme("colors.gray.400");
    --color-off-base: theme("colors.gray.50");
    --color-divide-color: theme("colors.gray.300");
    /* --color-divide-color: theme("colors.red.300"); */
    --color-player: theme("colors.gray.500");
    --color-search: theme("colors.gray.500");
    --color-search-item: theme("colors.gray.500");
    --color-progress-whole: theme("colors.gray.500");
    --color-progress-current: theme("colors.gray.300");
    --color-btn-bg: theme("colors.black");
    --color-btn: theme("colors.white");
    --color-voice-bar-whole: #909090;
    --color-voice-bar-current: #fff;
}
.theme-dark {
    --color-base: theme("colors.gray.900");
    --color-base-sub: theme("colors.gray.600");
    --color-text-base: theme("colors.gray.100");
    --color-sub-text-base: theme("colors.gray.300");
    --color-off-base: theme("colors.gray.800");
    --color-divide: theme("colors.gray.700");
    --color-player: theme("colors.gray.800");
    --color-search: #1e293b;
    /* --color-search-item: theme("colors.gray.500"); */
    --color-search-item-active: #0284c7;
    --color-search-item: #243143;
    --color-progress-whole: theme("colors.gray.500");
    --color-progress-current: theme("colors.gray.300");
    --color-btn-bg: theme("colors.white");
    --color-btn: theme("colors.black");
    --color-voice-bar-whole: #909090;
    --color-voice-bar-current: #fff;
}
/* } */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
